@font-face {
    font-family: 'Rising Sun';
    src: url('../../../assets/fonts/RisingSun-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.news_section {
    margin-top: 40px;
    padding: 40px;
    background: #E8EAEE;
    backdrop-filter: blur(100px);
    border-radius: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header h1 {
    font-size: 32px;
    line-height: 120%;
    color: #10161A;
    font-weight: 400;
}

.searchInput {
    padding: 14px 20px;
    border: 1px solid #10161A;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.searchInput input {
    border: none;
    outline: none;
    background: none;
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #BDC0C3;
}
  
.searchInput button {
    border: none;
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
  
.news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.news_img img {
  max-width: 285px;
  border-radius: 24px;
  height: 236px;
}

.title div {
    width: 24px;
    height: 24px;
    background: #73C1BE;
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title h1 {
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #10161A;
}

.title span {
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #7C8083;
}

.news_content p {
    margin-top: 20px;
    padding: 10px;
    max-width: 785px;
    background: linear-gradient(90deg, rgba(19, 84, 122, 0.1) 0%, rgba(128, 208, 199, 0.1) 100%);
    border-radius: 12px;
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(16, 22, 26, 0.8);
}

.read_more {
    margin-top: 22px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.read_more button {
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #185A7E;
    background: none;
}

.read_more span {
    font-family: 'Rising Sun';
    font-size: 18px;
    line-height: 24px;
    color: #7C8083;
}


@media (max-width: 1440px) {
    .nav_buttons {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 1024px) {
    .nav_buttons {
        grid-template-columns: repeat(3, 1fr); 
    }

    .news_img img {
      max-width: 285px;
      border-radius: 24px;
      height: 100%;
    }

    .off_button {
        margin-top: 0;
    }

    .active_button {
        margin-top: 0;
    }

    .news_section {
      padding: 30px;
    }
  
    .header h1 {
      font-size: 40px;
    }
  
    .news {
      flex-direction: column;
      gap: 30px;
    }
  
    .news_img {
      order: -1; /* This moves the image above the text */
      min-width: 100%;
    }

    .news_img img {
        min-width: 100%;
    }
  }
  
  /* For screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 36px;
    }

    .nav_buttons {
        grid-template-columns: repeat(2, 1fr); 
    }

    .nav_section {
        margin-top: 100px;
    }

    .off_button {
        font-size: 18px;
    }

    .active_button {
        font-size: 18px;
    }
  
    .header {
      flex-direction: column;
      gap: 20px;
    }

    .circle div{
        display: none;
    }

    .circle h1 {
        font-size: 38px;
    }
  
    .title h1 {
      font-size: 20px;
    }
  
    .title span {
      font-size: 16px;
    }
  
    .news_content p {
      font-size: 18px;
    }
  
    .read_more {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .read_more span {
      font-size: 14px;
    }
  }
  
  /* For screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .news_section {
      margin-top: 50px;
      padding: 20px;
    }
  
    .header h1 {
      font-size: 25px;
    }
  
    .title h1 {
      font-size: 18px;
    }

    .title div {
      display: none;
    }

    .title {
      flex-direction: column;
      align-items: start;
    }
  
    .title span {
      font-size: 14px;
    }
  
    .news_content p {
      font-size: 16px;
    }
  
    .read_more button {
      font-size: 20px;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }
  }